
<ion-content padding-top margin-top>
  <form #form="ngForm" item-height="100%" padding>

    <h3 padding>Novo Flat</h3>
    <div padding margin novalidate style="border: 1px solid rgb(0, 0, 0);">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-label stacked>Título do Anúncio</ion-label>
            <ion-input type="text" placeholder="Digite o título" name="dsTituloAnuncio" [(ngModel)]="dsTituloAnuncio" #titulo="ngModel" required></ion-input>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="titulo.errors && (titulo.dirty || titulo.touched)" class="text-danger" style="color: red;">
          Informe um título para o anúncio do flat!
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-label stacked>Descrição do Flat</ion-label>
            <ion-textarea type="text" placeholder="Digite a descrição" name="dsFlat" [(ngModel)]="dsFlat" #desc="ngModel" required></ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="desc.errors && (desc.dirty || desc.touched)" class="text-danger" style="color: red;">
          Digite alguma descrição para o flat!
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-label stacked>Regras do Flat</ion-label>
            <ion-textarea type="text" placeholder="Digite as regras" name="dsRegras" [(ngModel)]="dsRegras" required></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
    <h3 padding>Endereço do Flat</h3>
    <div padding margin novalidate style="border: 1px solid rgb(0, 0, 0);">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-label stacked>Endereço</ion-label>
            <ion-input type="text" placeholder="Digite o endereço" name="endereco" [(ngModel)]="endereco" #ender="ngModel" required></ion-input>
          </ion-col>
          <ion-col col-6>
            <ion-label stacked>Número</ion-label>
            <ion-input type="number" placeholder="Digite o número" name="numero" [(ngModel)]="numero" #num="ngModel" required></ion-input>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="(ender.errors || num.errors) && ((ender.dirty || ender.touched) || (num.dirty || num.touched))" class="text-danger" style="color: red;">
          <ion-col col-6 *ngIf="ender.errors && (ender.dirty || ender.touched)" class="text-danger" style="color: red;">
            O flat precisa ter um endereço!
          </ion-col>
          <ion-col col-6 *ngIf="num.errors && (num.dirty || num.touched)" class="text-danger" style="color: red;">
            O flat também precisa ter um número!
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-label stacked>Complemento</ion-label>
            <ion-input type="text" placeholder="Digite o complemento" name="complemento" [(ngModel)]="complemento" required></ion-input>
          </ion-col>
          <ion-col col-6>
            <ion-label stacked>País</ion-label>
            <ion-select [(ngModel)]="pais" name="pais">
              <ion-option value="bra">Brasil</ion-option>
              <ion-option value="eua">EUA</ion-option>
              <ion-option value="arg">Argentina</ion-option>
              <ion-option value="esp">Espanha</ion-option>
              <ion-option value="chl">Chile</ion-option>
              <ion-option value="pan">Panamá</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-label stacked>Estado</ion-label>
            <ion-input type="text" placeholder="Digite o estado" name="estado" [(ngModel)]="estado" required></ion-input>
          </ion-col>
          <ion-col col-6>
            <ion-label stacked>Cidade</ion-label>
            <ion-input type="text" placeholder="Digite a cidade" name="cidade" [(ngModel)]="cidade" required></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
              <ion-label stacked>Bairro</ion-label>
              <ion-input type="text" placeholder="Digite o bairro" name="bairro" [(ngModel)]="bairro" required></ion-input>
            </ion-col>
            <ion-col col-6>
              <ion-label stacked>CEP</ion-label>
              <ion-input type="text" placeholder="Digite o CEP" name="cep" [(ngModel)]="cep" required></ion-input>
            </ion-col>
          </ion-row>
      </ion-grid>
    </div>

    <a class="button button-outline button-positive" (click)="exibCarac()" style="margin-left: 15px;">{{ textoInformacoes }}</a>

    <div *ngIf="exibeCaracteristica">
      <h3 padding>Descrição do Flat</h3>
      <div padding margin novalidate style="border: 1px solid rgb(0, 0, 0);">
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <ion-label stacked>Condomínio?</ion-label>
              <ion-list radio-group name="snCondominio" [(ngModel)]="snCondominio">
                <ion-grid>
                  <ion-row>
                    <ion-col col-4>
                      <ion-item>
                        <ion-label>Sim</ion-label>
                        <ion-radio value="s"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <ion-item>
                          <ion-label>Não</ion-label>
                          <ion-radio value="n"></ion-radio>
                        </ion-item>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </ion-col>
            <ion-col col-3>

              <ion-label stacked>Internet?</ion-label>
              <ion-list radio-group name="snInternet" [(ngModel)]="snInternet">
                <ion-grid>
                  <ion-row>
                    <ion-col col-4>
                      <ion-item>
                        <ion-label>Sim</ion-label>
                        <ion-radio value="s"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <ion-item>
                          <ion-label>Não</ion-label>
                          <ion-radio value="n"></ion-radio>
                        </ion-item>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </ion-col>
            
            <ion-col col-3>
              <ion-label stacked>Crianças?</ion-label>
              <ion-list radio-group name="snCriancas" [(ngModel)]="snCriancas">
                <ion-grid>
                  <ion-row>
                    <ion-col col-4>
                      <ion-item>
                        <ion-label>Sim</ion-label>
                        <ion-radio value="s"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <ion-item>
                          <ion-label>Não</ion-label>
                          <ion-radio value="n"></ion-radio>
                        </ion-item>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </ion-col>

            <ion-col col-3>

              <ion-label stacked>Pessoas com mobilidade reduzida?</ion-label>
              <ion-list radio-group name="snMobilidadeReduzida" [(ngModel)]="snMobilidadeReduzida">
                <ion-grid>
                  <ion-row>
                    <ion-col col-4>
                      <ion-item>
                        <ion-label>Sim</ion-label>
                        <ion-radio value="s"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <ion-item>
                          <ion-label>Não</ion-label>
                          <ion-radio value="n"></ion-radio>
                        </ion-item>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>

            </ion-col>

          </ion-row>

          <ion-row>
            <ion-col col-3>
              <ion-label stacked>Fumantes?</ion-label>
              <ion-list radio-group name="snFumantes" [(ngModel)]="snFumantes">
                <ion-grid>
                  <ion-row>
                    <ion-col col-4>
                      <ion-item>
                        <ion-label>Sim</ion-label>
                        <ion-radio value="s"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <ion-item>
                          <ion-label>Não</ion-label>
                          <ion-radio value="n"></ion-radio>
                        </ion-item>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </ion-col>

            <ion-col col-3>
              <ion-label stacked>Animais?</ion-label>
              <ion-list radio-group name="snAnimais" [(ngModel)]="snAnimais">
                <ion-grid>
                  <ion-row>
                    <ion-col col-4>
                      <ion-item>
                        <ion-label>Sim</ion-label>
                        <ion-radio value="s"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <ion-item>
                          <ion-label>Não</ion-label>
                          <ion-radio value="n"></ion-radio>
                        </ion-item>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </ion-col>

            <ion-col col-3>
              <ion-label stacked>Festas / Eventos?</ion-label>
              <ion-list radio-group name="snFestas" [(ngModel)]="snFestas">
                <ion-grid>
                  <ion-row>
                    <ion-col col-4>
                      <ion-item>
                        <ion-label>Sim</ion-label>
                        <ion-radio value="s"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <ion-item>
                          <ion-label>Não</ion-label>
                          <ion-radio value="n"></ion-radio>
                        </ion-item>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </ion-col>

            <ion-col col-3>
              <ion-label stacked>Longos períodos?</ion-label>
              <ion-list radio-group name="snLongoPrazo" [(ngModel)]="snLongoPrazo">
                <ion-grid>
                  <ion-row>
                    <ion-col col-4>
                      <ion-item>
                        <ion-label>Sim</ion-label>
                        <ion-radio value="s"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <ion-item>
                          <ion-label>Não</ion-label>
                          <ion-radio value="n"></ion-radio>
                        </ion-item>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-4>
              <ion-label stacked>Número de Quartos</ion-label>
              <ion-input type="number" placeholder="0" name="nrQuartos" [(ngModel)]="nrQuartos" required></ion-input>
            </ion-col>
            <ion-col col-4>
              <ion-label stacked>Número de Banheiros</ion-label>
              <ion-input type="number" placeholder="0" min="0" max="60" name="nrBanheiros" [(ngModel)]="nrBanheiros" required></ion-input>
            </ion-col>
            <ion-col col-4>
              <ion-label stacked>Número máximo de pessoas</ion-label>
              <ion-input type="number" placeholder="0" min="0" max="10" name="nrMaxPessoas" [(ngModel)]="nrMaxPessoas" required></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <ion-label stacked>Área do Flat (m2)</ion-label>
              <ion-input type="number" placeholder="0" name="nrAreaFlat" [(ngModel)]="nrAreaFlat" required></ion-input>
            </ion-col>
            <ion-col col-4>
              <ion-label stacked>Valor básico da diária (R$)</ion-label>
              <ion-input type="number" placeholder="0" name="vlBasicoDiaria" [(ngModel)]="vlBasicoDiaria" required></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <h3 padding>Características do Flat</h3>
      <div padding margin novalidate style="border: 1px solid rgb(0, 0, 0);">
        <h5 padding style="font-weight: bold;">Geral</h5>
        <ion-list>
          <ion-item *ngFor="let item of listGeral" (ionFocus)="focNomeGeral = true" (ionBlur)="focNomeGeral = false">
            <ion-input value="{{item.nome}}" placeholder="Digite"></ion-input>
          </ion-item>
          <ion-item *ngIf="focNomeGeral">
            Ex: Aquecedor, Ar-condicionado, Hidromassagem
          </ion-item>
          <ion-item>
            <button ion-button (click)="saveNewGeral()">Nova</button>
          </ion-item>
        </ion-list>

        <h5 padding style="font-weight: bold;">Cozinha</h5>
        <ion-list>
          <ion-item *ngFor="let item of listCozinha" (ionFocus)="focNomeCozinha = true" (ionBlur)="focNomeCozinha = false">
            <ion-input value="{{item.nome}}" placeholder="Digite"></ion-input>
          </ion-item>
          <ion-item *ngIf="focNomeCozinha">
            Ex: Aspirador, Cafeteira, Chaleira
          </ion-item>
          <ion-item>
            <button ion-button (click)="saveNewCozinha()">Nova</button>
          </ion-item>
        </ion-list>

        <h5 padding style="font-weight: bold;">Entretenimento</h5>

        <ion-list>
          <ion-item *ngFor="let item of listEnt" (ionFocus)="focNomeEnt = true" (ionBlur)="focNomeEnt = false">
            <ion-input value="{{item.nome}}" placeholder="Digite"></ion-input>
          </ion-item>
          <ion-item *ngIf="focNomeEnt">
            Ex: DVD, Livros, Jogos de mesa
          </ion-item>
          <ion-item>
            <button ion-button (click)="saveNewEnt()">Nova</button>
          </ion-item>
        </ion-list>

        <h5 padding style="font-weight: bold;">Instalações</h5>

        <ion-list>
          <ion-item *ngFor="let item of listInst" (ionFocus)="focNomeInst = true" (ionBlur)="focNomeInst = false">
            <ion-input value="{{item.nome}}" placeholder="Digite"></ion-input>
          </ion-item>
          <ion-item *ngIf="focNomeInst">
            Ex: Estacionamento, Garagem, Churrasqueira
          </ion-item>
          <ion-item>
            <button ion-button (click)="saveNewInst()">Nova</button>
          </ion-item>
        </ion-list>

        <h5 padding style="font-weight: bold;">Equipamento</h5>

        <ion-list>
          <ion-item *ngFor="let item of listEquip" (ionFocus)="focNomeEquip = true" (ionBlur)="focNomeEquip = false">
            <ion-input value="{{item.nome}}" placeholder="Digite"></ion-input>
          </ion-item>
          <ion-item *ngIf="focNomeEquip">
            Ex: Bicicleta, Salão de jardim, Espriguiçadeiras
          </ion-item>
          <ion-item>
            <button ion-button (click)="saveNewEquip()">Nova</button>
          </ion-item>
        </ion-list>

        <h5 padding style="font-weight: bold;">Serviços</h5>

        <ion-list>
          <ion-item *ngFor="let item of listServ" (ionFocus)="focNomeServ = true" (ionBlur)="focNomeServ = false">
            <ion-input value="{{item.nome}}" placeholder="Digite"></ion-input>
          </ion-item>
          <ion-item *ngIf="focNomeServ">
            Ex: Aluguel de roupa de cama, Caseiro, Limpeza incluída
          </ion-item>
          <ion-item>
            <button ion-button (click)="saveNewServ()">Nova</button>
          </ion-item>
        </ion-list>

      </div>

    </div>

    <div style="width: 100%; text-align: center; padding-bottom: 20px; padding-top: 20px;">
      <button style="width: 100px;" ion-button block large round (click)="salvarFlat()">Salvar</button>
    </div>
  </form>
</ion-content>