<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Favoritos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of flatsFavoritos">
    
            <ion-card style="width: 400px;">
    
              <img height="350" width="100" src="../../assets/imgs/iflats_logo1.jpg">
            
              <ion-card-content>
    
                <ion-card-title>
                  {{ item.getDsTituloAnuncio() }}
                </ion-card-title>
    
                <ion-row>
                  <p>R&#36;&#160;</p>
                  <p>{{ item.getVlBasicoDiaria() }}</p>
                </ion-row>
                <ion-row>
                  <p>{{ item.getNrQuartos() }}</p>
                  <p>&#160;quartos</p>
                </ion-row>
                <ion-row>
                  <p>Acomoda</p>
                  <p>&#160;{{ item.getNrMaxPessoas() }}</p>
                  <p>&#160;pessoas</p>
                </ion-row>
                <ion-row>
                  <p>{{ item.getNrAreaFlat() }}</p>
                  <p>&#160;m²</p>
                </ion-row>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="plane"></ion-icon>
                    <div>Reservar</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-left clear small (click)="chamarTelaMensagens(item)">
                    <ion-icon name="text"></ion-icon>
                    <div>Mensagens</div>
                  </button>
                </ion-col>
                <ion-col center text-center>
                  <ion-icon style="font-size: 30px;" *ngIf="!item.isFavorito" (click)="setFavorito(item)" name="heart-outline"></ion-icon>
                  <ion-icon style="font-size: 30px;" *ngIf="item.isFavorito" (click)="setFavorito(item)" name="heart"></ion-icon>
                  <!-- <ion-note>
                    11h ago
                  </ion-note> -->
                </ion-col>
              </ion-row>
            
            </ion-card>
    
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
