<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Flats</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

  <ion-grid padding>
    <ion-row>
      <ion-col>
        <ion-icon ios="ios-home" md="md-home"></ion-icon>
        <button ion-button clear (click)="abrirItGeral()">Itens gerais</button>
      </ion-col>
      <ion-col>
        <ion-icon ios="ios-restaurant" md="md-restaurant"></ion-icon>
        <button ion-button clear (click)="abrirItCozinha()">Itens cozinha</button>
      </ion-col>
      <ion-col>
        <ion-icon ios="ios-game-controller-b" md="md-game-controller-b"></ion-icon>
        <button ion-button clear (click)="abrirItEntretenimento()">Itens entretenimento</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form #form="ngForm" padding novalidate>
    <h3 padding>Meus Flats</h3>
    <ion-grid>
      <ion-row *ngFor="let item of flats; let i = index" [class.line-even]="i == 0 || ((i+1) % 2 != 0)" [class.line-odd]="i > 0 && ((i+1) % 2 == 0)" (mouseenter)="showIcon(item)" (mouseleave)="hideIcon(item)">
        <ion-col col-10>
          <button ion-item (click)="itemSelected(item)">
            {{ item.getDsTituloAnuncio() }}
          </button>
        </ion-col>
        <ion-col col-1 style="text-align: center; font-size: 20px">
          <button ion-button clear *ngIf="item.iconVisivel">
            <ion-icon ios="ios-mail" md="md-mail" (click)="abrirListMensagens(i, item)" end></ion-icon>
          </button>
        </ion-col>
        <ion-col col-1 style="text-align: center; font-size: 20px">
          <button ion-button clear *ngIf="item.iconVisivel">
            <ion-icon ios="ios-trash" md="md-trash" (click)="removerFlat(i, item)" end></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div>
      <button ion-button block clear margin-top (click)="abrirCadastro()">Novo flat</button>
    </div>

    <h3 padding>Solicitações de reserva</h3>
    <ion-label stacked *ngIf="listSolicitacoes.length === 0">Você não possui solicitações de reserva recebidas para negociar</ion-label>
    <ion-grid *ngIf="listSolicitacoes.length > 0">
      <ion-row>
        <ion-col>
          Flat
        </ion-col>
        <ion-col>
          Usuário
        </ion-col>
        <ion-col>
          Data inicial
        </ion-col>
        <ion-col>
          Data final
        </ion-col>
        <ion-col>
          
        </ion-col>
        <ion-col>
          
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of listSolicitacoes; let i = index">
        <ion-col>
          {{ item.getCdFlat() }}
        </ion-col>
        <ion-col>
          {{ item.getCdUsuario() }}
        </ion-col>
        <ion-col>
          {{ item.getDtInicial() }}
        </ion-col>
        <ion-col>
          {{ item.getDtFinal() }}
        </ion-col>
        <ion-col>
          <button ion-button (click)="aceitarSolicReserva(item, i)">Aceitar</button>
        </ion-col>
        <ion-col>
          <button ion-button (click)="negarSolicReserva(item, i)">Negar</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h3 padding>Flats reservados</h3>
    <ion-label stacked *ngIf="listFlatsReservados.length === 0">Você não possui flats reservados</ion-label>
    <ion-grid *ngIf="listFlatsReservados.length > 0">
      <ion-row>
        <ion-col>
          Reserva
        </ion-col>
        <ion-col>
          Solicitação
        </ion-col>
        <ion-col>
          Valor restante
        </ion-col>
        <ion-col>
          Observação
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of listFlatsReservados; let i = index">
        <ion-col>
          {{ item.getCdReserva() }}
        </ion-col>
        <ion-col>
          {{ item.getCdSolicitacaoReserva() }}
        </ion-col>
        <ion-col>
          {{ item.getVlRestante() }}
        </ion-col>
        <ion-col>
          {{ item.getObservacao() }}
        </ion-col>
        <ion-col>
          <button ion-button clear>
            <ion-icon ios="ios-eye" md="md-eye" (click)="chamarTelaDetalheReserva(item)"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
